<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Вход</title>
  </head>
  <body>
    <h1>messenger</h1>
    <form method="POST" action="{% url 'account_login' %}">
        <p id="backButton">&#8592</p>
        <h2>Вход</h2>
        <h2>Не зарегистрированы? <a href="{{ signup_url }}">Регистрация</a></h2>
        {% csrf_token %}
        {{ form.as_p }}
        {% if redirect_field_value %}
        <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
        {% endif %}
        <button type="submit">Войти</button>
    </form>
  <script src="../static/js/login.js"></script>
  </body>
</html>
