<!DOCTYPE html>
<html lang="en">
  <head>
      <title>Смена пароля: {{ user.username }}</title>
  </head>
  <body>
  <h1>messenger</h1>
    <form id="signup_form" method="post" action="{% url 'account_change_password' %}">
            {% if messages %}
              <ul>
                {% for message in messages %}
                <li>{{message}}</li>
                {% endfor %}
              </ul>
            {% endif %}
        <p id="backButton">&#8592</p>
        <h2>Смена пароля для {{ user.username }}</h2>
      {% csrf_token %}
         {{ form.as_p }}
      <button type="submit" name="action" class="btn">Сменить пароль</button>
    </form>
  <script src="../static/js/password_change.js"></script>
  </body>
</html>